<ion-header>
 
</ion-header>



<ion-content padding   > 
  <button ng-click="funkcija()" >aqsdasd</button>  
  <div style="background-color: white; margin: 10px;" >
    <h2 style="font-weight:normal;margin: 15px;padding-top: 15px; color:#7D7D7D " >About us</h2>
    <br>
    <img src="/img/bosk_logo.png" alt="Mountain View" class="logo">
      <br><br> 
    <p style="padding: 10px;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc leo libero, euismod sit amet mauris eu, tempus dapibus mi.
      Cras viverra sapien id ligulllentesque. Nullam utentesque
      fermentum. Praesent semper odio quis pharetra vulputate. Pellentesque ullamcorper lacus quam, vitae congue mi pellentesque
      sed. Nulla facilisi. 
    </p><br>
    <p  style="padding: 10px;"> Pellentesque vitae sem convallis diam dignissim ultricies. Curabitur pellentesque vestibulum sagittis.
      Quisque blandit elit rhoncus nunc sodales lacinia id ac mi. Suspendisse sit amet vulputate elit.
    </p>
  </div>

</ion-content>