<ion-header>

</ion-header>



<ion-content padding>
  <br>
  <div style="border-radius:5px; background-color: white; margin: 10px;">
    <p style=" color:#0b1628; font-size:25px; font-weight:normal;margin: 15px;padding-top: 15px; color:#7D7D7D;line-height: 1.2 ">{{title}}</p>
    <img src="http://glutenfree.hr/images/medium/{{image}}" ng-if="image!=null  " class=infoImage>

    <div style="  margin: 0;
    padding: 0;
    width: 100%;
    height: fill; ">

  </div>

  <br>
  <div ng-bind-html="description" style="padding: 10px; color:#0b1628">

  </div>

  </div>

</ion-content>