<ion-content padding style=" background-color:  #E3E3E3;margin-top: 70px;"  > 
  <div style="border-radius:5px; background-color: white; margin: 10px;" > 
    <p style=" color:#0b1628; font-size:25px; font-weight:normal;margin: 15px;padding-top: 15px; color:#7D7D7D " >{{info}}</p>
        <div style="  margin: 0;
    padding: 0;
    width: 100%;
    height: fill; ">  
    
     </div>
 
       <img src="http://glutenfree.hr/images/thumbs/{{image}}" ng-if="image!=null  " style="display:block; overflow:hidden ; width: 310px;
  margin-left:auto;
  margin-right:auto;"  >
   <img src="img/icon.png" ng-if="image=='' || image==null" style="display:block; overflow:hidden ; width: 310px;
  margin-left:auto;
  margin-right:auto;"  > 
      <br> 
    <div ng-bind-html="infoDescription" style="padding: 10px; color:#0b1628">
     
  </div>

</ion-content>