<ion-view >
  <ion-content> 
    <br>
       <ion-item  style="" ng-click="odabirLokacije('Pula')" class="list list-inset location">
       <h3 style="height:100%; font-size: 25px;float:left;margin-top:12px;margin-left: 15px;"> Text title about glute fre.</h3> 
       <img class = "strelicaHotel" src="img/gumb_strelica.png"> 
     </ion-item> 
       <ion-item  style="" ng-click="odabirLokacije('Pula')" class="list list-inset location">
       <h3 style="height:100%; font-size: 25px;float:left;margin-top:12px;margin-left: 15px;"> Text title about glute fre.</h3> 
       <img class = "strelicaHotel" src="img/gumb_strelica.png"> 
     </ion-item> 
       <ion-item  style="" ng-click="odabirLokacije('Pula')" class="list list-inset location">
       <h3 style="height:100%; font-size: 25px;float:left;margin-top:12px;margin-left: 15px;"> Text title about glute fre.</h3> 
       <img class = "strelicaHotel" src="img/gumb_strelica.png"> 
     </ion-item> 
       <ion-item  style="" ng-click="odabirLokacije('Pula')" class="list list-inset location">
       <h3 style="height:100%; font-size: 25px;float:left;margin-top:12px;margin-left: 15px;"> Text title about glute fre.</h3> 
       <img class = "strelicaHotel" src="img/gumb_strelica.png"> 
     </ion-item> 
       <ion-item  style="" ng-click="odabirLokacije('Pula')" class="list list-inset location">
       <h3 style="height:100%; font-size: 25px;float:left;margin-top:12px;margin-left: 15px;"> Text title about glute fre.</h3> 
       <img class = "strelicaHotel" src="img/gumb_strelica.png"> 
     </ion-item> 
       <ion-item  style="" ng-click="odabirLokacije('Pula')" class="list list-inset location">
       <h3 style="height:100%; font-size: 25px;float:left;margin-top:12px;margin-left: 15px;"> Text title about glute fre.</h3> 
       <img class = "strelicaHotel" src="img/gumb_strelica.png"> 
     </ion-item> 
       <ion-item  style="" ng-click="odabirLokacije('Pula')" class="list list-inset location">
       <h3 style="height:100%; font-size: 25px;float:left;margin-top:12px;margin-left: 15px;"> Text title about glute fre.</h3> 
       <img class = "strelicaHotel" src="img/gumb_strelica.png"> 
     </ion-item> 
       <ion-item  style="" ng-click="odabirLokacije('Pula')" class="list list-inset location">
       <h3 style="height:100%; font-size: 25px;float:left;margin-top:12px;margin-left: 15px;"> Text title about glute fre.</h3> 
       <img class = "strelicaHotel" src="img/gumb_strelica.png"> 
     </ion-item> 
  </ion-content>
</ion-view>
