<ion-view >
  <ion-content> 
     <a href="">
     <div class="card">
       <h3 style="float:left"> Text title about glute fre.</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">

     </div>
     </a>
       <a href="">
     <div class="card">
       <h3 style="float:left"> Text title about glute fre.</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a>
       <a href="">
     <div class="card">
       <h3 style="float:left"> Text title about glute free.</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a>
     <a href="">
      <div class="card">
       <h3 style="float:left"> Text title about glute free.</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a> 
      <a href="">
      <div class="card">
       <h3 style="float:left"> Text title about glute free.</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a> 
      <a href="">
      <div class="card">
       <h3 style="float:left"> Text title about glute free.</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a> 
      <a href="">
      <div class="card">
       <h3 style="float:left"> Text title about glute free.</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a> 

  </ion-content>
</ion-view>
