<ion-view>
   <style>.list .item-radio .item-content {
   background-color: #b51879;     
  color: white;
}
.list .item-radio .radio-icon {
  float: left;
  color: white;
}
.item-radio input:checked + .radio-content .item-content {
    /* style the item content when its checked */
    background-color: #b51879; 
}
 .myButton{
        border:none;
        margin-left:20px;
 } </style>
  <ion-content  style="margin-top: 70px;">
       
      <div style="border-radius:5px; background-color: white; margin: 10px"  >  
    <p style=" color:black;  font-family:Verdana; 
    font-weight:100;    font-size:25px; margin: 15px;padding-top: 15px; " >Esplanade hotel</p>
   

    <div style="margin: 15px;">
        <img src="img/star.png" style="position:relative;bottom:0;   " >  
       <img src="img/star.png" style="position:relative;bottom:0;" >
       <img src="img/star.png" style="position:relative;bottom:0;" >
       <img src="img/star.png" style="position:relative;bottom:0;" >      
       <img src="img/star.png" style="position:relative;bottom:0;" > 
       
    </div>
       <img src="img/esplanada.png" style="display:block; overflow:hidden ; width: 310px;
  margin-left:auto;
  margin-right:auto;"  >
   <p  style="margin: 15px;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc leo libero, euismod sit amet mauris eu, tempus dapibus mi.
      Cras viverra sapien id ligulllentesque. Nullam utentesque
      fermentum. Praesent semper odio quis pharetra vulputate. Pellentesque ullamcorper lacus quam, vitae congue mi pellentesque
      sed. Nulla facilisi. 
    </p><br>
    <p  style="margin: 15px;"> Pellentesque vitae sem convallis diam dignissim ultricies. Curabitur pellentesque vestibulum sagittis.
      Quisque blandit elit rhoncus nunc sodales lacinia id ac mi. Suspendisse sit amet vulputate elit.
    </p>
  </div>

  </ion-content>
</ion-view>
