<ion-view>
  <style>
    .list .item-radio .item-content {
      background-color: #b51879;
      color: white;
    }
    
    .list .item-radio .radio-icon {
      float: left;
      color: white;
    }
    
    .item-radio input:checked + .radio-content .item-content {
      /* style the item content when its checked */
      background-color: #b51879;
    }
    
    .myButton {
      border: none;
      margin-left: 20px;
    }
  </style>
  <ion-content style="margin-top: 70px;">

    <div style="border-radius:5px; background-color: white; margin: 10px;margin-top: 30px;">



      <img src="http://glutenfree.hr/images/medium/{{location['image']}}" ng-if="location['image']!=null  " class=infoImage>
      <img src="img/hotel_image.png" ng-if="(location['image']=='' || location['image']==null) && location['category']==1" style="display:block; overflow:hidden ; width: 250px;
  margin-left:auto;
  margin-right:auto;">
        <img src="img/restaurant.png" ng-if="(location['image']=='' || location['image']==null) && location['category']==2" style="display:block; overflow:hidden ; width: 250px;
  margin-left:auto;
  margin-right:auto;">
          <img src="img/grocery.png" ng-if="(location['image']=='' || location['image']==null) && location['category']==3" style="display:block; overflow:hidden ; width: 250px;
  margin-left:auto;
  margin-right:auto;">
            <img src="img/pharmacies.png" ng-if="(location['image']=='' || location['image']==null) && location['category']==4" style="display:block; overflow:hidden ; width: 250px;
  margin-left:auto;
  margin-right:auto;">
              <img src="img/station.png" ng-if="(location['image']=='' || location['image']==null) && location['category']==5" style="display:block; overflow:hidden ; width: 250px;
  margin-left:auto;
  margin-right:auto;">
                <p class="infoTitle">{{location["title"]}}</p>
                <div style="margin: 15px;" ng-if="location['category']==1 || location['category']==2">

                  <img src="img/star.png" ng-if="location['stars']>0" style="position:relative;bottom:0;   ">
                  <img src="img/star.png" ng-if="location['stars']>1" style="position:relative;bottom:0;">
                  <img src="img/star.png" ng-if="location['stars']>2" style="position:relative;bottom:0;">
                  <img src="img/star.png" ng-if="location['stars']>3" style="position:relative;bottom:0;">
                  <img src="img/star.png" ng-if="location['stars']>4" style="position:relative;bottom:0;">

                </div>
                <div style="margin-left: 10px" ng-if="location['date']!='0000-00-0'">
                  <p style="float: left;margin-left: 11px; color:#616161;position: absolute  "> {{location['date']}} </p>
                </div> <br/> 
                <div style="margin-left: 10px" ng-if="location['adress']!=''">
                  <p style="float: left;margin-left: 11px; color:#616161;position: absolute  "> {{location['adress']}} </p>
                </div>
                <br/>

                <div class="info" ng-if="location['workinghours']!=''" style="position: relative "> <img class="infoIcon" src="img/clock.png">
                  <span class="infoText">working hours</span>
                  <p class="locationInfo">{{location['workinghours']}}</p>
                </div>
                <div class="info" ng-if="location['phone']!=''" style="position: relative "> <img class="infoIcon" src="img/phone.png">
                  <a href="tel:{{location['phone']}}">
                    <span class="infoText">phone</span>
                    <p class="locationInfo">{{location['phone']}}</p>
                  </a>
                </div>


                <div  ng-click="goOnURL(location['web'])" class="info" ng-if="location['web']!=''" style="position: relative "> <img class="infoIcon" src="img/world.png">
                 <a>
                  <span class="infoText">web-site  </span>
                  <p class="locationInfo">{{location['web']}}</p>
                 </a>
                </div>



                <div class="info" ng-if="location['workinghours']!=''" style="position: relative "> <img class="infoIcon" style="height: 12px;" src="img/email.png">
                  <span class="infoText">email</span>
                  <p class="locationInfo">{{location['email']}}</p>
                </div>



                <div class="info" ng-if="location['tables']!=0" style="position: relative "> <img class="infoIcon" src="img/table.png">
                  <span class="infoText">tables</span>
                  <p class="locationInfo">{{location['tables']}}</p>
                </div>



                <div class="info" ng-if="location['food']!=''" style="position: relative "> <img class="infoIcon" src="img/world.png">
                  <span class="infoText">food</span>
                  <p class="locationInfo">{{location['food']}}</p>
                </div>



                <div class="info" ng-if="location['mobile']!=''" style="position: relative "> <img class="infoIcon" src="img/phone.png">
                  <a href="tel:{{location['mobile']}}">
                    <span class="infoText">mobile  </span>
                    <p class="locationInfo">{{location['mobile']}}</p>
                  </a>
                </div>


                <div class="info" ng-if="location['parking']!=''" style="position: relative "> <img class="infoIcon" src="img/world.png">
                  <span class="infoText">parking</span>
                  <p class="locationInfo">{{location['parking']}}</p>
                </div>




                <div class="info" ng-if="location['standing']!=0" style="position: relative "> <img class="infoIcon" src="img/table.png">
                  <span class="infoText">standing</span>
                  <p class="locationInfo">{{location['standing']}}</p>
                </div>



                <div ng-bind-html="description" style="margin: 15px;">
                </div>
                <br>
    </div>

  </ion-content>
</ion-view>