<ion-view >
  <ion-content>
   
 </div>
    
     <ion-item  style="" ng-click="odabirLokacije('Zagreb')" class="card">
       <h3 style="font-size: 25px;float:left"> Zagreb</h3> 
       <img class = "strelica" src="img/gumb_strelica.png"> 
     </ion-item>
     <ion-item  style="" ng-click="odabirLokacije('Rijeka')" class="card">
       <h3 style="font-size: 25px;float:left"> Rijeka</h3> 
       <img class = "strelica" src="img/gumb_strelica.png"> 
     </ion-item>
       <ion-item  style="" ng-click="odabirLokacije('Pula')" class="card">
       <h3 style="font-size: 25px;float:left"> Pula</h3> 
       <img class = "strelica" src="img/gumb_strelica.png"> 
     </ion-item>
     
     <img src="img/bosk_logo.png" style="float: bottom" class="logo">
  </ion-content>
</ion-view>
