<ion-view >
  <ion-content>
   
 </div>
     <a href="">
     <div class="card">
       <h3 style="float:left"> Zagreb</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">

     </div>
     </a>
       <a href="">
     <div class="card">
       <h3 style="float:left"> Rijeka</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a>
       <a href="">
     <div class="card">
       <h3 style="float:left"> Pula</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a>
     
     <img src="img/bosk_logo.png" style="float: bottom" class="logo">
  </ion-content>
</ion-view>
