<ion-view>
  <ion-content>
          <div id="lokacija2"  class="lokacija" ng-style="myStyle"  ng-init="doSomething()">
      <p class="current"> Current location :<span style="color: white;" ng-bind="'  '+lokacija"> {{lokacija}} </span> </p>
   <button class="change" ng-click="funkcija()"> <p class="locationButton">{{naslov}}</p> </button> 
    <br>  
   <a   class="dodani_buttoni" ng-click="changeLocation()" ng-show="!showDiv" >Read GPS coordinates</a>
   <a ng-show="!showDiv" href="#/lokacije" class="dodani_buttoni">Show a list of locations</a> 
 <ion-list>
   <ion-radio    ng-value="'A'"   ng-show="!showDiv"  class="myButton"   >Show results in 100m range</ion-radio>
   <ion-radio   ng-model="choice" ng-value="'A'" ng-show="!showDiv" ng-show="!showDiv" class="myButton" > Show results in 500m range</ion-radio>  
    <ion-radio ng-model="choice" ng-value="'A'" ng-show="!showDiv" class="myButton">Show results in 1000m range</ion-radio>
   <ion-radio ng-model="choice" ng-value="'A'" ng-show="!showDiv" ng-selected="true" class="myButton">Show results in 5000m range</ion-radio> 
    <ion-radio ng-model="choice" ng-value="'A'" ng-show="!showDiv" class="myButton">Show results in any range</ion-radio>  
    </ion-list>     <br>
 </div>   
 </div>
      <div style="border-radius:5px; background-color: white; margin: 10px"  >  
    <p style=" color:black;  font-family:Verdana; 
    font-weight:100;    font-size:25px; margin: 15px;padding-top: 15px; " >Esplanade hotel</p>
   

    <div style="margin: 15px;">
        <img src="img/star.png" style="position:relative;bottom:0;   " >  
       <img src="img/star.png" style="position:relative;bottom:0;" >
       <img src="img/star.png" style="position:relative;bottom:0;" >
       <img src="img/star.png" style="position:relative;bottom:0;" >      
       <img src="img/star.png" style="position:relative;bottom:0;" > 
       
    </div>
       <img src="img/esplanada.png" style="display:block; overflow:hidden ; width: 310px;
  margin-left:auto;
  margin-right:auto;"  >
   <p  style="margin: 15px;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc leo libero, euismod sit amet mauris eu, tempus dapibus mi.
      Cras viverra sapien id ligulllentesque. Nullam utentesque
      fermentum. Praesent semper odio quis pharetra vulputate. Pellentesque ullamcorper lacus quam, vitae congue mi pellentesque
      sed. Nulla facilisi. 
    </p><br>
    <p  style="margin: 15px;"> Pellentesque vitae sem convallis diam dignissim ultricies. Curabitur pellentesque vestibulum sagittis.
      Quisque blandit elit rhoncus nunc sodales lacinia id ac mi. Suspendisse sit amet vulputate elit.
    </p>
  </div>

  </ion-content>
</ion-view>
