  <ion-content content scroll="false" >
 
      <p class="current"> Current location :<span style="color: white;" ng-bind="'  '+lokacija"> {{lokacija}} </span> </p>
   <button class="change" ng-click="funkcija()"> <p style="font-weight: bold">{{naslov}}</p> </button> 
    <br>  
   <a   class="dodani_buttoni" ng-click="changeLocation()" ng-show="!showDiv" >Read GPS coordinates</a>
   <a ng-show="!showDiv" href="#/lokacije" class="dodani_buttoni">Show a list of locations</a> 
 
   <a    href="#" ng-show="!showDiv" class="myButton">Show results in 100m range</a>
   <a ng-show="!showDiv" ng-show="!showDiv" class="range_buttoni" href=""> </a>  
    <a href="#" ng-show="!showDiv" class="myButton">Show results in 1000m range</a>
   <a href="#" ng-show="!showDiv" class="myButton">Show results in 5000m range</a> 
    <a href="#" ng-show="!showDiv" class="myButton">Show results in any range</a>     <br>
 </div>
    
      
   <div style=" position: absolute;  
  z-index: 3;     
   "><div class="float-button1">
     <span >
         <img src="img/list.png" style="margin-top:10px;margin-left:-2px;">
       </button>
     </span>
   </div></div>
   <ng-map style="height: 100%;" center="[45.815399, 15.966568]"<ng-map>  
    
  
    </ion-content>
</ion-view>
