<ion-header>

</ion-header>

<ion-content padding  style="background-color: #F0F0F0;">
  <form style="margin: 10px;" >
  <ion-label style="color:#777A80;">Your e-mail:  </ion-label>
  <textarea class="upit"  rows="2"></textarea>
  <ion-label style="color:#777A80;">Your inquery:  </ion-label>
  <textarea class="upit"  rows="10"></textarea>
  <button id="send1"> Send inquery </button>
  <a style="text-decoration:none" href="tel:+385915745968" ><div id="call1"> Call us at 099 99 000 999 </div></a>
  
  </form>
</ion-content>
