<ion-view >
  <ion-content>
    <div id="lokacija" ng-style="myStyle">
   <button class="change" ng-click="funkcija()">Change </button> 
 </div>
     <a href="">
     <div class="card">
       <h3 style="float:left"> Hotels</h3> 
       <img class = "strelica" src="/img/gumb_strelica.png">
     </div>
     </a>
       <a href="">
     <div class="card">
       <h3 style="float:left"> Restaurants</h3> 
       <img class = "strelica" src="/img/gumb_strelica.png">
     </div>
     </a>
       <a href="">
     <div class="card">
       <h3 style="float:left"> Stores</h3> 
       <img class = "strelica" src="/img/gumb_strelica.png">
     </div>
     </a>
     <a href="">
      <div class="card">
       <h3 style="float:left"> Info</h3> 
       <img class = "strelica" src="/img/gumb_strelica.png">
     </div>
     </a>
     <img src="/img/bosk_logo.png" class="logo">
  </ion-content>
</ion-view>
