<ion-header>
 <ion-navbar  color="moja">
  <button ion-button clear end  class="trazi"></button>
    
    <button ion-button clear end  class="mapa"> </button>
    <ion-menu [content]="mycontent"></ion-menu>
    <button ion-button menuToggle end menu-toggle="right"> 
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding  style="background-color: #F0F0F0;">
  <form >
  <ion-label>Your e-mail:  </ion-label>
  <textarea class="upit"  rows="2"></textarea>
  <ion-label>Your inquery:  </ion-label>
  <textarea class="upit"  rows="10"></textarea>
  <button id="send"> Send inquery </button>
  <button id="call"> Call us at 099 99 000 999 </button>
  
  </form>
</ion-content>
