<ion-view ng-controller="StartCtrl" >
  <ion-content scroll="false">
    <div id="lokacija2"  class="lokacija" ng-style="myStyle"  ng-init="doSomething()">
      <p class="current"> Current location :<span style="color: white;" ng-bind="'  '+lokacija"> {{lokacija}} </span> </p>
   <button class="change" ng-click="funkcija()"> <p class="locationButton">{{naslov}}</p> </button> 
    <br>  
   <a   class="dodani_buttoni" ng-click="changeLocation()" ng-show="!showDiv" >Read GPS coordinates</a>
   <a ng-show="!showDiv" href="#/lokacije" class="dodani_buttoni">Show a list of locations</a> 
 <ion-list>
   <ion-radio    ng-value="'A'"   ng-show="!showDiv"  class="myButton"   >Show results in 100m range</ion-radio>
   <ion-radio   ng-model="choice" ng-value="'A'" ng-show="!showDiv" ng-show="!showDiv" class="myButton" > Show results in 500m range</ion-radio>  
    <ion-radio ng-model="choice" ng-value="'A'" ng-show="!showDiv" class="myButton">Show results in 1000m range</ion-radio>
   <ion-radio ng-model="choice" ng-value="'A'" ng-show="!showDiv" ng-selected="true" class="myButton">Show results in 5000m range</ion-radio> 
    <ion-radio ng-model="choice" ng-value="'A'" ng-show="!showDiv" class="myButton">Show results in any range</ion-radio>  
    </ion-list>     <br>
 </div>   
 </div>
       <a href="#/hotels" >
     <div class="list list-inset" >
         <div style="border-radius:50%; float:left;  background-size:cover;  margin: 8px; margin-right: 10px">
       <img src="img/hotel_image.png" style="float:left;width: 45px; " >
   
       </div>
        <h3 class="screenTitles"> Hotels</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a>
       <a href="#/restaurants">
     <div class="list list-inset">
           <div style="border-radius:50%; float:left;  background-size:cover;  margin: 8px; margin-right: 10px">
       <img src="img/restaurant.png" style="float:left;width: 45px; " >
   
       </div>
        <h3 class="screenTitles"> Restaurants</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a>
        <a href="#/restaurants">
     <div class="list list-inset">
           <div style="border-radius:50%; float:left;  background-size:cover;  margin: 8px; margin-right: 10px">
       <img src="img/grocery.png" style="float:left;width: 45px; " >
   
       </div>
        <h3 class="screenTitles"> Stores</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a>
      <a href="#/restaurants">
     <div class="list list-inset">
          <div style="border-radius:50%; float:left;  background-size:cover;  margin: 8px; margin-right: 10px">
       <img src="img/pharmacies.png" style="float:left;width: 45px; " >
   
       </div>
        <h3 class="screenTitles">Pharmacies</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a> 
       <a href="#/restaurants">
     <div class="list list-inset">
          <div style="border-radius:50%; float:left;  background-size:cover;  margin: 8px; margin-right: 10px">
       <img src="img/station.png" style="float:left;width: 45px; " >
   
       </div>
        <h3  class="screenTitles"> Petroll station</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a>
    
   </div>
  </ion-content>
</ion-view>
