<ion-view hide-nav-bar="true">
  <ion-content >
    
       <a href="#/hotels" >
     <div class="list list-inset" >
         <div style="border-radius:50%; float:left;  background-size:cover;  margin: 8px; margin-right: 10px">
       <img src="img/hotel_image.png" style="float:left;width: 45px; " >
   
       </div>
        <h3 class="screenTitles"> Hotels</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a>
       <a href="#/restaurants">
     <div class="list list-inset">
           <div style="border-radius:50%; float:left;  background-size:cover;  margin: 8px; margin-right: 10px">
       <img src="img/restaurant.png" style="float:left;width: 45px; " >
   
       </div>
        <h3 class="screenTitles"> Restaurants</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a>
        <a href="#/restaurants">
     <div class="list list-inset">
           <div style="border-radius:50%; float:left;  background-size:cover;  margin: 8px; margin-right: 10px">
       <img src="img/grocery.png" style="float:left;width: 45px; " >
   
       </div>
        <h3 class="screenTitles"> Stores</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a>
      <a href="#/restaurants">
     <div class="list list-inset">
          <div style="border-radius:50%; float:left;  background-size:cover;  margin: 8px; margin-right: 10px">
       <img src="img/pharmacies.png" style="float:left;width: 45px; " >
   
       </div>
        <h3 class="screenTitles">Pharmacies</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a> 
       <a href="#/restaurants">
     <div class="list list-inset">
          <div style="border-radius:50%; float:left;  background-size:cover;  margin: 8px; margin-right: 10px">
       <img src="img/station.png" style="float:left;width: 45px; " >
   
       </div>
        <h3  class="screenTitles"> Petroll station</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a>
    
   </div>
  </ion-content>
</ion-view>
