<ion-view> 
<ion-content>
     <a href="#/hotels">
     <div class="card">
         <div style="border-radius:50%;background-color: #DEDEDE;float:left;  background-size:cover; width:40px; height:40px;margin: 9px; margin-right: 10px">
       <img src="img/hotel_image.png" style="float:left;width: 25px; margin: 5px;margin-left:7px; margin-top:10px; " >
   
       </div>
        <h3 style="float:left;margin-top:10px;"> Hotels</h3> 
       <img class = "strelica" src="img/gumb_strelica.png">
     </div>
     </a>
</ion-content>
</ion-view>