 
    .sadrzaj{
        background-color: white;
        border-radius: 5px;

    }
    .logo{
        width:auto; 
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
        