
    #lokacija
    {        
        background-color: #E84357;
        height:50px; 
        border-color: #DE0B32;  
    }
    .card-visina
    {
        border-radius: 5px;
        height: 60px;
       
    } 
    [noScroll] {
  overflow: hidden;
}

    .current
    {
     color:#D6D6D6;
     font-size: 16px;
     float:left;
     margin:10px;
    }
    .change
    {   
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color: #BF0023;
    border-radius: 3px;
    margin: 9px;
    width: 90px;
    height: 32px;
    font-weight:normal;
	border:1px solid #BF0023;
	display:inline-block;
	cursor:pointer;
	color:#D6D6D6;
	font-family:Arial;
	font-size:16px;
	text-decoration:none;
	text-shadow:0px 1px 20px #2f6627;
    float: right;}
 

.change:active {
	position:relative;
	top:1px;
}

   

    .logo1{
        width:auto; 
        height: auto;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    .strelica{
        float:right;
        height: 100%;
        width: auto;
         background-image: url("/img/gumb_strelica.png");
         background-repeat: no-repeat;
    }
    .margins{
        margin: 0px;
     
    }
    .card{
        
        color: #696969;
        font-size:20px; 
        height: 60px;   
    }
    h3{
        margin: 10px;
       padding-top: 12px;
       color: #545454;
       font-weight:normal;
    }
  .dodani_buttoni
  {
      text-align: center;
      padding-top: 10px;
       background-color: #E84357;  
       	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color: #BF0023;
    border-radius: 3px;
    margin: 9px;
    width: 95%;
    height: 45px;
    font-weight:normal;
	border:1px solid #BF0023;
	display:inline-block;
	cursor:pointer;
	color:#D6D6D6;
	font-family:Arial;
	font-size:16px;
	text-decoration:none;
	text-shadow:0px 1px 20px #2f6627;

  } 
.myButton {
	background-color: #E84357;  
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color: #DE0B32;  
}
.myButton:active {
	position:relative;
	top:1px;
}
.exit_text
{
    color:white;
    margin:15px;
    padding-bottom: 10px;
    font-size: 15px;

}
.exit_button
{
     background-color: #DE0B32;  
       	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color: #BF0023;
    border-radius: 0px;
    margin: 9px;
    width: 92%;
    height: 45px;
    font-weight:normal;
	border:1px solid #BF0023;
	display:inline-block;
	cursor:pointer;
	color:#D6D6D6;
	font-family:Arial;
	font-size:16px;
	text-decoration:none;
	text-shadow:0px 1px 20px #2f6627;
}

     

