    a{
        text-decoration:none;
    }
   a:link
    {
text-decoration:none;
    }
    a:active{
text-decoration:none;
    }
    a:visited
    {
text-decoration:none;
    }
    a:hover
    {
text-decoration:none;
    }
    .lokacija 
    {   margin-top:16px;     
        background-color: #E84357;
        height:50px; 
        border-color: #DE0B32;  
    }
       
    .card-visina
    {
        border-radius: 5px;
        height: 60px;
       
    } 
    [noScroll] {
  overflow: hidden;
}

    .current
    {
     color:white;
     font-size: 16px;
     float:left;
     margin:10px;
     margin-top: 15px;
    }
    .change { 
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color: #BF0023;
    border-radius: 3px;
    margin: 11px;
    width: 90px;
    height: 32px;
    font-weight:normal;
	border:1px solid #BF0023;
	display:inline-block;
	cursor:pointer;
	color:#D6D6D6;
	font-family:Arial;
	font-size:16px;
	text-decoration:none;
	text-shadow:0px 1px 20px #2f6627;
    float: right;}
 

.change:active {
	position:relative;
	top:1px;
}

   

    .logo1{
  display:block;
  margin-left:auto;
  margin-right:auto;
    }
    .strelica{
        float:right;
        margin-top:10px;
        margin-right:10px;
        height: auto;
        width: auto;
         background-repeat: no-repeat;
    }
    .margins{
        margin: 0px;
     
    }
    .card{
         position: relative;
        color: #696969;
        font-size:20px; 
        height: 60px;   
    }
    h3{ 
       color: #545454;
       font-weight:normal; 
    }
  .dodani_buttoni
  {
      text-align: center;
      padding-top: 10px;
       background-color: #E84357;  
       	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color: #BF0023;
    border-radius: 3px;
    margin: 9px;
    width: 95%;
    height: 45px;
    font-weight:normal;
	border:1px solid #BF0023;
	display:inline-block;
	cursor:pointer;
	color:#D6D6D6;
	font-family:Arial;
	font-size:16px;
	text-decoration:none;
	text-shadow:0px 1px 20px #2f6627;

  } 
.list .item-radio .item-content {
   background-color: #E84357; 
    
  color: white;
}
.list .item-radio .radio-icon {
  float: left;
  color: white;
}
.item-radio input:checked + .radio-content .item-content {
    /* style the item content when its checked */
    background-color: #E84357; 
}
 .myButton{
        border:none;
        margin-left:20px;
 }
.myButton:active {
	position:relative;
	top:1px;
}
 
.exit_text
{
    color:white;
    margin:15px;
    padding-bottom: 10px;
    font-size: 15px;

}
.exit_button
{
     background-color: #DE0B32;  
       	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color: #BF0023;
    border-radius: 0px;
    margin: 9px;
    width: 92%;
    height: 45px;
    font-weight:normal;
	border:1px solid #BF0023;
	display:inline-block;
	cursor:pointer;
	color:#D6D6D6;
	font-family:Arial;
	font-size:16px;
	text-decoration:none;
	text-shadow:0px 1px 20px #2f6627;
}

     .float-button {
  border-radius:50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; 
  padding: 6px;
  font-size: 30px; 
  position: fixed; 
  height:67px;
  bottom: 0px; /* Adjust to where you want it */
  left:0px; /* Adjust to where you want it */ 
 }
      .float-button1 { 
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; 
  padding: 6px;
  font-size: 30px; 
  position: fixed; 
  height:53px;
  width:10px;
  margin:15px;
  bottom: 0px; /* Adjust to where you want it */
  left:0px; /* Adjust to where you want it */ 
 }

 .float-button .height_fix {
   margin-top: 100%;
 }

 