 
ion-label{
  color:#777A80;
  font-size: 15px;
}
textarea,input {
    border-radius: 5px;
    width: 100%;
    border: none;
}
form button{
width: 100%;
height: 50px;
border-radius: 5px;
color: white;
font-size: 15px;
}
.fixed-outside{
  position: absolute;
  bottom: 0;
  color:white;
  width: 100%;
  height:  120px;
  text-align:center;
}

 

   .mapa{
        height: 30px;
        width: 30px;
        background-image: url("/img/map.png");
      background-repeat : no-repeat; 
        
    }
    .verticalLine {
  border-left: thick solid #ff0000;
}
     .trazi{
        height: 30px;
        width: 30px;
        background-image: url("/img/search.png");
      background-repeat : no-repeat; 
        
    } 