ion-content{
   background-color:  #E3E3E3;
}

   .mapa{
        height: 30px;
        width: 30px;
      background-image: url("img/map.png");
      background-repeat : no-repeat; 
      float:right;     
        
    } 
    .map-container .scroll{
    height: 100%;
}
.markerName{
 position:absolute;
 top:-20px;
 left:-40px;
 width: 120px;
 font-size:14px;
 background-color:white;
   background: rgba(255, 255, 255, .7);
 padding-left:4px;
 padding-right:4px;
 color: #504c75;
  
}


.angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
} 
 
     .trazi{
         
          border-left: thick solid #BDBDBD;
          border-width: 1px;
         float:right;
        height: 30px;
        width: 30px;
        background-image: url("../img/search.png");
      background-repeat : no-repeat;         
    }

.scroll{height: 100%;}

 .info{
   padding-top: 6px;
   border-radius: 5px;
   height: 30px;
   background-color:  #E3E3E3; 
   margin-left:10px;
   margin-right: 10px;
   margin-bottom: 7px;
   

 }
 .infoText{
   float: right;
   margin-right: 20px;
   color:#616161;  
   font-size: 12px;
 }
 .infoImage{ 
display:block; overflow:hidden ;
width: 100%;  
  margin-left:auto;
  margin-right:auto;
  border-radius:6px 6px 0px 0px;

 }
 .infoTitle{ 
    color:#1F1F1F;  
    font-family:Verdana; 
    font-weight:400;  
      font-size:19px;
       margin: 15px; 
 }
 .infoIcon{
   
   height: 13px; width: 18px;
   margin-left: 10px;
   float: left;
   margin-top: 3px
 }